GOOGLE_SHEETS_ID=https://docs.google.com/spreadsheets/d/{SEARCH_FOR_THIS_ID}/edit#gid=0
GOOGLE_CREDENTIALS_PATH=../config/credentials.json
AWS_BUCKET_NAME = ""
AWS_REGION_NAME = ""
AWS_S3_RAW_PREFIX = ""