GOOGLE_SHEETS_ID=https://docs.google.com/spreadsheets/d/{SEARCH_FOR_THIS_ID}/edit#gid=0
GOOGLE_CREDENTIALS_PATH=config/credentials.json
DATABASE_URL=postgresql://user:pass@localhost/dbname
LOG_LEVEL=INFO